Accessing the data

In [5]:
import numpy as np
import pandas as pd
df1 = pd.read_csv("/content/empnames.txt")

# display DataFrame
print(df1)

     EmpName
0   John Doe
1  Janesmith
2    Jhonson
3     Ramesh

In [1]:
import numpy as np
import pandas as pd

# Assuming "Sheet1" is the name of the sheet you want to read from
df1 = pd.read_excel("/content/empdata.xlsx", sheet_name="Sheet1")

# Display DataFrame
print(df1)

          Emp ID    EmpName Deptmnt  Salary
0  |    001    |   John Doe      HR   50000
1  |    002    |  Janesmith      IT   60000
2  |    003    |    Jhonson  mrktng   55000
3  |    004    |     Ramesh      IT   60000

In [2]:
import pandas as pd

# Read DataFrame from CSV file
df1 = pd.read_csv("/content/empdata.csv")

# Display DataFrame
print(df1)

          Emp ID    EmpName Deptmnt  Salary
0  |    001    |   John Doe      HR   50000
1  |    002    |  Janesmith      IT   60000
2  |    003    |    Jhonson  mrktng   55000
3  |    004    |     Ramesh      IT   60000

In [4]:
import pandas as pd

# Read DataFrame from TSV file
df1 = pd.read_csv("/content/empdata.txt", delimiter='\t')

# Display DataFrame
print(df1)

          Emp ID    EmpName Deptmnt  Salary
0  |    001    |   John Doe      HR   50000
1  |    002    |  Janesmith      IT   60000
2  |    003    |    Jhonson  mrktng   55000
3  |    004    |     Ramesh      IT   60000