task 1

In [35]:
mylist = ["apple", "banana", "cherry"]

In [36]:
list2= [[0, 0, 0, 0, 0],
[0, 0, 0, 0, 0],
[0, 0, 0, 0, 0],
[0, 0, 0, 0, 0],
[0, 0, 0, 0, 0]]

In [37]:
mylist[1]

'banana'

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:5]

['cherry', 'orange', 'kiwi']

In [39]:
thislist[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [40]:
thislist[:4]

['apple', 'banana', 'cherry', 'orange']

In [41]:
thislist[-4:-1]

['orange', 'kiwi', 'melon']

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
thislist

['apple', 'blackcurrant', 'cherry']

In [43]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
thislist

['apple', 'banana', 'watermelon', 'cherry']

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
thislist

['apple', 'banana', 'cherry', 'orange']

In [46]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
thislist

['apple', 'cherry']

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
thislist

['apple', 'cherry']

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [50]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
thislist

['banana', 'cherry']

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist

[]

In [52]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  x

In [53]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  thislist[i]

In [54]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  thislist[i]
  i = i + 1

In [55]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
thislist

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [56]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
thislist

[23, 50, 65, 82, 100]

In [57]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
thislist

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [58]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
thislist

[50, 65, 23, 82, 100]

Sort the list based on how close the number is to 50ðŸ‘†

In [59]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
thislist

['banana', 'cherry', 'Kiwi', 'Orange']

In [60]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
thislist

['cherry', 'Kiwi', 'Orange', 'banana']

In [61]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
mylist

['apple', 'banana', 'cherry']

In [62]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
list3

['a', 'b', 'c', 1, 2, 3]

In [63]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

list1

['a', 'b', 'c', 1, 2, 3]

In [64]:
lst1=[1,2,3]
lst2=[4,5,6]
array1 = np.array(lst1)
array2 = np.array(lst2)
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)
type(array1)

array2 multiplied by array1:  [ 4 10 18]
array2 divided by array1:  [4.  2.5 2. ]
array2 raised to the power of array1:  [  4  25 216]

numpy.ndarray

In [65]:
print("Sine: ",np.sin(array1))
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
print("Exponential: ",np.exp(array1))

Sine:  [0.84147098 0.90929743 0.14112001]
Natural logarithm:  [0.         0.69314718 1.09861229]
Base-10 logarithm:  [0.         0.30103    0.47712125]
Base-2 logarithm:  [0.        1.        1.5849625]
Exponential:  [ 2.71828183  7.3890561  20.08553692]

\